#
# You can add personal rules in your file .git/info/exclude
deps
tools/*.tar.gz
tools/*.pyc
tools/*.png
apps/*/src/#*
apps/*/src/.#*
test/.#*
test/#*
test/tests/.#
test/tests/#
test/ct_report
**/.rebar
*.swp
*~
doc/*.aux
doc/*.haux
doc/*.html
doc/*.htoc
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc

src/*.beam
src/*.so
src/*.so.dSYM
src/*/*.beam
src/*/Makefile
src/Makefile
*.beam

erl_crash.dump
*.o

*.asn1db
apps/*/logs

rel/mms/
dev/*
ebin/

# IntelliJ
.idea
*.iml
