{sub_dirs, ["apps/mms", "rel"]}.

{deps,
    [
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", "2.0.0-pre.1"}},
        {erlcloud, ".*", {git, "https://github.com/caoyue/erlcloud"}},
        {mysql, ".*", {git, "https://github.com/dizzyd/erlang-mysql-driver"}},
        {eredis, ".*", {git, "https://github.com/wooga/eredis"}}
    ]}.
