{sub_dirs, ["apps/mms", "rel"]}.

{deps,
    [
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}},
        {erlcloud, ".*", {git, "https://github.com/caoyue/erlcloud", {tag, "v0.9.2"}}},
        {mysql, ".*", {git, "https://github.com/dizzyd/erlang-mysql-driver"}},
        {eredis, ".*", {git, "https://github.com/wooga/eredis"}}
    ]}.