%% upload secret
{upload_secret, "\"upload_secret\""}.

%% S3 config
{s3_key, "\"s3_key\""}.
{s3_secret, "\"s3_secret\""}.
{s3_timeout, "2000"}.
{s3_host, "\"s3_host\""}.
{s3_bucket, "\"s3_bucket\""}.

%% MySql config
{mysql_host, "\"127.0.0.1\""}.
{mysql_port, "3306"}.
{mysql_usr, "\"usr\""}.
{mysql_pwd, "\"pwd\""}.
{mysql_db, "\"db\""}.