[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {lager, [
        {log_root, "log"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]}]},
            {lager_file_backend, [{file, "mms.log"}, {level, debug}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
        ]},
        {colored, true}
    ]},
    {mms, [
        {upload_secret, {{upload_secret}} },
        {s3_key, {{s3_key}} },
        {s3_secret, {{s3_secret}} },
        {s3_timeout, {{s3_timeout}} },
        {s3_host, {{s3_host}} },
        {s3_bucket, {{s3_bucket}} },
        {s3_public_bucket, {{s3_public_bucket}} },
        {mysql_host, {{mysql_host}} },
        {mysql_usr, {{mysql_usr}} },
        {mysql_port, {{mysql_port}} },
        {mysql_pwd, {{mysql_pwd}} },
        {mysql_db, {{mysql_db}} },
        {redis_host, {{redis_host}} },
        {redis_port, {{redis_port}} },
        {redis_pass, {{redis_pass}} }
    ]}
].

